
  <div class="iest-g">
    <div class="iest-3-24 iest-offset-1-24">
      
    </div>
    <div class="iest-19-24 iest-offset-1-24">
      <ejs-dashboardlayout #editLayout [columns]="12" [cellSpacing]="cellSpacing" [allowDragging]="false" [cellAspectRatio]="aspectRatio">
        <e-panels>
          <e-panel [sizeX]="12" [sizeY]="6" [row]="0" [col]="0">
            <ng-template #content>
              <div id="detailmarkdown"
                appEditor
                (onEditorChange)="syncModel($event)">
              <textarea style="display: none;" ></textarea>
              </div>
            </ng-template>
          </e-panel>
    
        </e-panels>
      </ejs-dashboardlayout>
    </div>
  </div>


