<div class="iest-g">
  <div class="iest-24-24">
    <ejs-dashboardlayout #editLayout [columns]="12" [cellSpacing]="cellSpacing" [allowDragging]="false"
      [cellAspectRatio]="aspectRatio">
      <e-panels>
        <e-panel [sizeX]="2" [sizeY]="11" [row]="0" [col]="0" cssClass='red'>
          <ng-template #content>
            <div class="e-card" style="margin-bottom: 20px;" *ngFor="let item of article?.data ">
              <div class="e-card-header-title">{{item.title}}</div>
              <div class="e-card-content">
                The Eiffel Tower is acknowledged as the universal symbol of Paris and France.
              </div>
              <div class="e-card-actions">
              </div>
            </div>
            <button ejs-button cssClass="e-round btn-fixed" iconCss="e-icons e-plus-icon" [isPrimary]="true" (click)="clearEditor()" ></button>
          </ng-template>
        </e-panel>
        <e-panel [sizeX]="10" [sizeY]="1"  [row]="0" [col]="2"  >
          <ng-template #content>
            <div class="article-title">
              <div class="e-float-input e-input-group">
                <input type="text" name="title" (focus)="focusIn($event.target)"  [(ngModel)]="title"  />
                <label class="e-float-text">标题</label>
              </div>
            </div>
            <div class="article-tag"></div>
          </ng-template>
        </e-panel>
        <e-panel [sizeX]="10" [sizeY]="10" [row]="1" [col]="2">
          <ng-template #content>
            <div id="detailmarkdown" appEditor  [editConfig]="conf">
              <textarea style="display: none;"></textarea>
            </div>
          </ng-template>
        </e-panel>

      </e-panels>
    </ejs-dashboardlayout>
  </div>

</div>
