.btn-fixed {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.article-card {
  margin-bottom: 15px;
}

.article-card .e-card-header-title, .article-card .e-card-content{
  cursor: pointer;
}
.article-title {
  height: 100%;
  padding: 10px;
//   background: #A0D468;
}

.e-float-input, .e-input-group {
  border: none!important;
  height: 90%!important;
  font-size: 40px;

}

.e-input-focus {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.content-list{
  height: 100%;
  width:100%;
  overflow-x:hidden;
  overflow-y: auto;
}

.content-list::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

.content-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #eeeeee;

}

.content-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fffdfd;
}
.e-card-actions .actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.e-card-actions .actions .action-right {
  text-align: right;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.e-card-actions .actions span{
  margin-left: 8px;
  font-weight: 500;
  color: #666666;
}

.e-card-actions .actions > span{
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}

.e-tooltip-wrap.e-popup {
  background-color: #ffffff00;
  border: none;
  padding: 0;
}

.action-btn {
  margin: 0;
  background: #666666;
}
