<div class="iest-g">
  <div class="iest-24-24">
    <ejs-dashboardlayout #editLayout [columns]="12" [cellSpacing]="cellSpacing" [allowDragging]="false"
      [cellAspectRatio]="aspectRatio">
      <e-panels>
        <e-panel [sizeX]="2" [sizeY]="11" [row]="0" [col]="0" cssClass='red'>
          <ng-template #content>
            <div class="content-list">
              <div class="article-card e-card" *ngFor="let item of article?.data ">
                <div class="e-card-header-title" (click)="loadArticle(item.id)">{{item.title }}</div>
                <div class="e-card-content" (click)="loadArticle(item.id)">
                  {{item.content | regText |slice:0:100}}
                </div>
                <div class="e-card-actions">
                  <div class="projects" *ngIf="item.projects.length > 0">
                    <ejs-chiplist enableDelete="true" (delete)="delProject($event)">
                      <e-chips>
                        <e-chip [text]="project" *ngFor="let project of item.projects" [value]="project" ]></e-chip>
                      </e-chips>
                    </ejs-chiplist>
                  </div>
                  <div class="actions">
                    <div >
                      <span class="act" nbTooltip="设置" nbTooltipStatus="basic" nbTooltipPlacement="bottom">
                        <nb-icon icon="settings" status="basic"></nb-icon>
                      </span>
                    </div>
                    <div class="action-right">
                      <span class="act" nbTooltip="喜欢" nbTooltipStatus="primary" nbTooltipPlacement="bottom">
                        <nb-icon icon="heart" status="success"></nb-icon>
                        <span>{{item.likes}}</span>
                      </span>
                      <span class="act" nbTooltip="收藏" nbTooltipStatus="primary" nbTooltipPlacement="bottom">
                        <nb-icon icon="star" status="danger"></nb-icon>
                        <span>{{item.fav}}</span>
                      </span>
                      <span class="act" nbTooltip="评论" nbTooltipStatus="primary" nbTooltipPlacement="bottom">
                        <nb-icon icon="message-square" status="info"></nb-icon>
                        <span>{{item.comment}}</span>
                      </span>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <button ejs-button cssClass="e-round btn-fixed" iconCss="e-icons e-plus-icon" [isPrimary]="true"
              (click)="clearEditor()"></button>
          </ng-template>
        </e-panel>
        <e-panel [sizeX]="10" [sizeY]="1" [row]="0" [col]="2">
          <ng-template #content>
            <div class="article-title">
              <div class="e-float-input e-input-group">
                <input type="text" name="title" (focus)="focusIn($event.target)" [(ngModel)]="title" />
                <label class="e-float-text">标题</label>
              </div>
            </div>
            <div class="article-tag"></div>
          </ng-template>
        </e-panel>
        <e-panel [sizeX]="10" [sizeY]="10" [row]="1" [col]="2">
          <ng-template #content>
            <div id="detailmarkdown" appEditor [editConfig]="conf">
              <textarea style="display: none;"></textarea>
            </div>
          </ng-template>
        </e-panel>

      </e-panels>
    </ejs-dashboardlayout>
  </div>

</div>
