$iest-w-1: 4.1667%;
$iest-w-2: 8.3333%;
$iest-w-3: 12.5000%;
$iest-w-4: 16.6667%;
$iest-w-1-5: 20%;
$iest-w-5: 20.8333%;
$iest-w-6:  25%;
$iest-w-7: 29.1667%;
$iest-w-8: 33.3333%;
$iest-w-2-5: 40%;
$iest-w-9: 37.5000%;
$iest-w-10: 41.6667%;
$iest-w-11: 45.8333%;
$iest-w-12: 50%;
$iest-w-13: 54.1667%;
$iest-w-14: 58.3333%;
$iest-w-3-5: 60%;
$iest-w-15: 62.5000%;
$iest-w-16: 66.6667%;
$iest-w-17: 70.8333%;
$iest-w-18: 75%;
$iest-w-19: 79.1667%;
$iest-w-4-5: 80%;
$iest-w-20: 83.3333%;
$iest-w-21: 87.5000%;
$iest-w-22: 91.6667%;
$iest-w-23: 95.8333%;
$iest-w-24: 100%;


.iest-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;

  /* Prevents distributing space between rows */
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

/* IE10 display: -ms-flexbox (and display: flex in IE 11) does not work inside a table; fall back to block and rely on font hack */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
table .iest-g {
  display: block;
}
}

/* Opera as of 12 on Windows needs word-spacing.
 The ".opera-only" selector is used to prevent actual prefocus styling
 and is not required in markup.
*/
.opera-only :-o-prefocus,
.iest-g {
  width: 100%;
}

.iest {
  display: inline-block;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.iest-g [class *= "iest"] {
  font-family: sans-serif;
}

.iest-1,
.iest-1-1,
.iest-1-2,
.iest-1-3,
.iest-2-3,
.iest-1-4,
.iest-3-4,
.iest-1-5,
.iest-2-5,
.iest-3-5,
.iest-4-5,
.iest-5-5,
.iest-1-6,
.iest-5-6,
.iest-1-8,
.iest-3-8,
.iest-5-8,
.iest-7-8,
.iest-1-12,
.iest-5-12,
.iest-7-12,
.iest-11-12,
.iest-1-24,
.iest-2-24,
.iest-3-24,
.iest-4-24,
.iest-5-24,
.iest-6-24,
.iest-7-24,
.iest-8-24,
.iest-9-24,
.iest-10-24,
.iest-11-24,
.iest-12-24,
.iest-13-24,
.iest-14-24,
.iest-15-24,
.iest-16-24,
.iest-17-24,
.iest-18-24,
.iest-19-24,
.iest-20-24,
.iest-21-24,
.iest-22-24,
.iest-23-24,
.iest-24-24 {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.iest-1-24 {
  width: $iest-w-1;
}

.iest-1-12,
.iest-2-24 {
  width: $iest-w-2;
}

.iest-1-8,
.iest-3-24 {
  width: $iest-w-3;
}

.iest-1-6,
.iest-4-24 {
  width: $iest-w-4;
}

.iest-1-5 {
  width: $iest-w-1-5;
}

.iest-5-24 {
  width:$iest-w-6;
}

.iest-1-4,
.iest-6-24 {
  width: $iest-w-6;
}

.iest-7-24 {
  width: $iest-w-7;
}

.iest-1-3,
.iest-8-24 {
  width: $iest-w-8
}

.iest-3-8,
.iest-9-24 {
  width: $iest-w-9;
}

.iest-2-5 {
  width: $iest-w-2-5;
}

.iest-5-12,
.iest-10-24 {
  width: $iest-w-10;
}

.iest-11-24 {
  width: $iest-w-11;
}

.iest-1-2,
.iest-12-24 {
  width: $iest-w-12;
}

.iest-13-24 {
  width: $iest-w-13;
}

.iest-7-12,
.iest-14-24 {
  width: $iest-w-14;
}

.iest-3-5 {
  width: $iest-w-3-5;
}

.iest-5-8,
.iest-15-24 {
  width: $iest-w-15;
}

.iest-2-3,
.iest-16-24 {
  width: $iest-w-16;
}

.iest-17-24 {
  width: $iest-w-17;
}

.iest-3-4,
.iest-18-24 {
  width: $iest-w-18;
}

.iest-19-24 {
  width: $iest-w-19;
}

.iest-4-5 {
  width: $iest-w-4-5;
}

.iest-5-6,
.iest-20-24 {
  width: $iest-w-20;
}

.iest-7-8,
.iest-21-24 {
  width: $iest-w-21;
}

.iest-11-12,
.iest-22-24 {
  width: $iest-w-22;
}

.iest-23-24 {
  width: $iest-w-23
}

.iest-1,
.iest-1-1,
.iest-5-5,
.iest-24-24 {
  width: $iest-w-24;
}

.iest-offset-1-24{
  margin-left: $iest-w-1;
}


.iest-offset-1-12,
.iest-offset-2-24 {
  margin-left: $iest-w-2;
}

.iest-offset-1-8,
.iest-offset-3-24 {
  margin-left: $iest-w-3;
}

.iest-1-6,
.iest-offset-4-24 {
  margin-left: $iest-w-4;
}

.iest-offset-1-5 {
  margin-left: $iest-w-1-5;
}

.iest-offset-5-24 {
  margin-left:$iest-w-6;
}

.iest-offset-1-4,
.iest-offset-6-24 {
  margin-left: $iest-w-6;
}

.iest-offset-7-24 {
  margin-left: $iest-w-7;
}

.iest-offset-1-3,
.iest-offset-8-24 {
  margin-left: $iest-w-8
}

.iest-offset-3-8,
.iest-offset-9-24 {
  margin-left: $iest-w-9;
}

.iest-offset-2-5 {
  margin-left: $iest-w-2-5;
}

.iest-offset-5-12,
.iest-offset-10-24 {
  margin-left: $iest-w-10;
}

.iest-offset-11-24 {
  margin-left: $iest-w-11;
}

.iest-offset-1-2,
.iest-offset-12-24 {
  margin-left: $iest-w-12;
}

.iest-offset-13-24 {
  margin-left: $iest-w-13;
}

.iest-offset-7-12,
.iest-offset-14-24 {
  margin-left: $iest-w-14;
}

.iest-offset-3-5 {
  margin-left: $iest-w-3-5;
}

.iest-offset-5-8,
.iest-offset-15-24 {
  margin-left: $iest-w-15;
}

.iest-offset-2-3,
.iest-offset-16-24 {
  margin-left: $iest-w-16;
}

.iest-offset-17-24 {
  margin-left: $iest-w-17;
}

.iest-offset-3-4,
.iest-offset-18-24 {
  margin-left: $iest-w-18;
}

.iest-offset-19-24 {
  margin-left: $iest-w-19;
}

.iest-offset-4-5 {
  margin-left: $iest-w-4-5;
}

.iest-offset-5-6,
.iest-offset-20-24 {
  margin-left: $iest-w-20;
}

.iest-offset-7-8,
.iest-offset-21-24 {
  margin-left: $iest-w-21;
}

.iest-offset-11-12,
.iest-offset-22-24 {
  margin-left: $iest-w-22;
}

.iest-offset-23-24 {
  margin-left: $iest-w-23
}