@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import "~@syncfusion/ej2-base/styles/material.css";
@import "~@syncfusion/ej2-angular-layouts/styles/material.css";
@import '~@syncfusion/ej2-angular-navigations/styles/material.css';
@import '~@syncfusion/ej2-angular-lists/styles/material.css';

@import 'assets/css/grid.scss';

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global();
};

.flew {
  display: flex;
  width: 100%;
}

.flew-between {
  justify-content: space-between;
  align-items: center;
}
